@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    background-color: #f3f2f1;
}

a{
    text-decoration: none;
}

h2{
    font-weight: 400;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    border: 1px solid #3f2f2f;
    position: absolute;
    top: 16px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 16px;
    padding: 12px;
    background-color: #ffffff;
}

nav .nav-links{
    display: flex;
    gap: 24px;
}

nav .nav-links a{
    font-size: 14px;
    color: #606060;
    transition: all 0.3s ease;
}

nav .nav-links a:hover{
    color: #aa5e08;
}

nav button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    font-size: 18px;
    height: 32px;
    width: 122px;
    background: #000;
    color: #ac8211;
    border-radius: 8px;
    border: 1px solid transparent;
    transition: all 0.3s ease;
}

nav button:hover,
.hero .left-section .top .buttons button.doc:hover,
.contact .items .item button:hover{
    color: #000;
    background: #c27a0f;
    border-color: #dedede;
}


